@model workload_Models.ViewModels.HeadOfDepartmentProfileVM

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Teacher List</h2>
        </div>
    </div>

    <br /><br />

    @if (Model.ListTeacher.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Имя
                    </th>
                    <th>
                        Кнопки управления
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.ListTeacher)
                {
                    <tr>
                        <td width="50%">@obj.FullName</td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-route-Id="@obj.Id" asp-action="ViewAllReports" class="btn btn-primary mx-2">Посмотреть отчеты пользователя</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No teacher exists.</p>
    }
</div>