@using Newtonsoft.Json;
@using workload_Utility.ClaimTypes;
@{
    var claims = User.Claims.Where(c => c.Type == "UserRoleDep");
    List<CustomClaim> deserializedClaims = new List<CustomClaim>();
    foreach(var claim in claims)
    {
        deserializedClaims.Add(JsonConvert.DeserializeObject<CustomClaim>(claim.Value));
    }
}

<div class="container p-3">
    @if (deserializedClaims.Any(c => c.RoleAccess == "HeadOfDepartment"))
    {
        <h2>Вы являетесь заведующим кафедр в следующих кафедрах:</h2>
        @foreach (var claim in deserializedClaims.Where(c => c.RoleAccess == "HeadOfDepartment"))
        {
            <a asp-route-id="@claim.DepartmentId" asp-controller="HeadOfDepartmentProfile" asp-action="Index" class="btn btn-primary">Кафедра @claim.DepartmentId</a>
        }

    }
    <br /><br />

    @if (deserializedClaims.Any(c => c.RoleAccess == "Teacher"))
    {
        <h2>Вы являетесь преподавателем. Перейти в профиль:</h2>
        <a asp-controller="TeacherProfile" asp-action="Index" class="btn btn-primary">Профиль преподавателя</a>
    }
</div>